<section id="content">
  <div class="page page-forms-common">
    <section class="tile">
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font">
          <i class="fa fa-list editicon"></i>Category<strong> List</strong>
        </h1>
        <a (click)="backnav()">
          <button
            type="button"
            class="btn btn-drank newUserButton  btn-rounded mb-10 pull-right"
          >
            <i class="fa fa-plus Addbutton"></i>Add Category
          </button></a
        >
      </div>
      <br />
      <div class="tile-body p-0">
        <div class="table-responsive">
          <table
            id="dt-cell-sellection"
            class="table"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                <th class="th-sm">Category</th>
                <th class="th-sm">Category Name</th>
                <th class="th-sm">Depth</th>
                <th class="th-sm">Slug</th>
                <th class="th-sm">Status</th>
                <th class="th-sm">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of CategoryData.content; let i = index">
                <td>{{ data.categoryId }}</td>
                <td>{{ data.categoryCode }}</td>
                <td>{{ data.depth }}</td>
                <td>{{ data.Slug }}</td>
                <td>{{ data.active }}</td>
                <td>
                  <a
                    class="myIcon icon-success icon-ef-3 icon-ef-3b icon-color"
                    (click)="editdata(data, i)"
                    ><i class="fa fa-edit"></i
                  ></a>
                  <a
                    class="myIcon icon-warning icon-ef-4 icon-ef-4a icon-color"
                    (click)="Delete(i)"
                    ><i class="fa fa-eye"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!CategoryData.length" class="NodataStyle" id="NodataStyle">
          No Data found
        </div>
      </div>
    </section>
  </div>
</section>
