<section id="content">
  <div class="page page-categories">
    <div class="pageheader">
      <h2>Add Product</h2>
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <a><i class="fa fa-home"></i>CRUD App</a>
          </li>
          <li>
            <a>Manage Product</a>
          </li>
          <li>
            <a>Add Product</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile tile-simple">
          <div class="tile-body">
            <form
              class="form-horizontal"
              [formGroup]="playerForm"
              (ngSubmit)="saverecord()"
            >
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="Palyer Name">
                      ID
                      <span class="require">*</span>
                    </label>
                    <div class="col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="ProductID"
                        name="PlayerName"
                        placeholder="ProductID"
                        formControlName="productID"
                        [ngClass]="{
                          'is-invalid': submitted && f.productID.errors
                        }"
                      />

                      <div
                        *ngIf="submitted && f.productID.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.productID.errors.required">
                          productID is Required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="Palyer Name">
                     Name
                      <span class="require">*</span>
                    </label>
                    <div class="col-md-8">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="ProductName"
                          name="ProductName"
                          placeholder="Product Name"
                          [ngClass]="{
                            'is-invalid': submitted && f.productName.errors
                          }"
                          formControlName="productName"
                        />
                    
                      <div
                        *ngIf="submitted && f.productName.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.productName.errors.required">
                          ProductName is Required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="usr_name">
                        Category
                        <span class="require">*</span>
                      </label>
  
                      <div class="col-md-8">
                          <ng-multiselect-dropdown
                            [placeholder]="'Select category'"
                            formControlName="category"
                            [data]="category"
                            [(ngModel)]="Category"
                            [settings]="dropdownSettings"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            [required]="requiredField"
                            [ngClass]="setClass()"
                            name="countrySelect"
                          >
                          </ng-multiselect-dropdown>
                        <div
                          *ngIf="submitted && f.category.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.category.errors.required">
                            Category is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
              
              
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="Palyer Name">
                      Price
                      <span class="require">*</span>
                    </label>
                    <div class="col-md-8">
               
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="Price"
                          name="price"
                          placeholder="price"
                          [ngClass]="{
                            'is-invalid': submitted && f.price.errors
                          }"
                          formControlName="price"
                        />
                    
                      <div
                        *ngIf="submitted && f.price.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.price.errors.required">
                          price is Required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="Palyer Name">
                        Discount
                        <span class="require">*</span>
                      </label>
                      <div class="col-md-8">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="Discount"
                            name="Discount"
                            placeholder="Discount"
                            [ngClass]="{
                              'is-invalid': submitted && f.discount.errors
                            }"
                            formControlName="discount"
                          />
                      
                        <div
                          *ngIf="submitted && f.discount.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.discount.errors.required">
                            discount is Required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="usr_name">
                        Unit
                        <span class="require">*</span>
                      </label>
                      <div class="col-md-8">
                          <select
                            required
                            [(ngModel)]="Unit"
                            formControlName="unit"
                            class="form-control"
                            [ngClass]="{
                              'is-invalid': submitted && f.unit.errors
                            }"
                            autocomplete="off"
                          >
                            <option value="undefined" disabled selected
                              >Select unit</option
                            >
                            <option
                              *ngFor="let data of unit"
                              value="{{ data.unitName }}"
                            >
                              {{ data.unitName }}</option
                            >
                          </select>
                      
                        <div
                          *ngIf="submitted && f.unit.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.unit.errors.required">
                            unit is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="usr_name">
                        Select Color
                      </label>
                      <div class="col-md-8">
                          <ng-multiselect-dropdown
                            [placeholder]="'Select color'"
                            formControlName="color"
                            [data]="ColorData"
                            [(ngModel)]="Color"
                            [settings]="dropdownColor"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            [required]="requiredField"
                            [ngClass]="setClass()"
                            name="countrySelect"
                          >
                          </ng-multiselect-dropdown>
                      
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="usr_name">
                        Status
                        <span class="require">*</span>
                      </label>
                      <div class="col-md-8">
                          <select
                            required
                            [(ngModel)]="Status"
                            formControlName="status"
                            class="form-control"
                            [ngClass]="{
                              'is-invalid': submitted && f.status.errors
                            }"
                            autocomplete="off"
                          >
                            <option value="undefined" disabled selected
                              >Select status</option
                            >
                            <option
                              *ngFor="let data of status"
                              value="{{ data.status }}"
                            >
                              {{ data.status }}</option
                            >
                          </select>
                        
                        <div
                          *ngIf="submitted && f.status.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.status.errors.required">
                            status is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="usr_name">
                          Select Size
                          <span class="require">*</span>
                        </label>
                        <div class="col-md-8">
                          <div class="flex-container flex-wrap">
                            <div class="element">
                              <div class="flex-container">
                                <div
                                  *ngFor="
                                    let hobby of playerForm.controls.hobbies
                                      .controls;
                                    let i = index
                                  "
                                  class="flex-container  align-center multi-checkbox"
                                >
                                  <input
                                    type="checkbox"
                                    [formControl]="hobby"
                                    (change)="
                                      getSelectedHobbies(hobby, myhobbies[i].name)
                                    "
                                  />
                                  {{ myhobbies[i].name }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="usr_name">
                      Select Image
                    </label>
                    <div class="col-md-8">
                   
                        <div
                          class="fileupload fileupload-new"
                          data-provides="fileupload"
                        >
                          <!-- <div
                            class="fileupload-new thumbnail"
                            style="width: 106px;height: 113px;"
                            id="previewimg"
                          >
                            <img
                              src="{{ ProductImage }}"
                              id="myfile"
                              alt="image"
                              style="background: #79838e;border-radius: 99px;border-radius: 69px"
                            />
                          </div> -->
                          <!-- <div
                            class="fileupload-preview fileupload-exists thumbnail"
                            id="imagePreview"
                            style="width: 150px;height: 139px;line-height: 20px; border-radius: 69px;display: none"
                          ></div> -->
                          <div>
                            <button
                              type="file"
                              accept=".png, .jpg, .jpeg"
                              (change)="onFileChange($event)"
                              class="btn btn-custom btn-file upload-button"
                              id="selectbtn"
                            >
                              <!-- <span class="fileupload-new">
                          <i class="fa fa-paper-clip"></i> Upload Image</span
                        >
                        <span class="fileupload-exists" id="changeid">
                          <i class="fa fa-undo"></i> Change</span
                        > -->
                              <input  style="width:180px"
                                type="file"
                                class="btn-light file-upload"
                                id="changeid"
                              />
                            </button>
                      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="email" class="control-label col-lg-4"
                        >Description
                        <span class="require">*</span>
                      </label>
                      <div class="col-lg-8">
                          <textarea
                            formControlName="description"
                            maxlength="150"
                            [(ngModel)]="Description"
                            class="form-control"
                            placeholder="Enter the description"
                            rows="3"
                            [ngClass]="{
                              'is-invalid': submitted && f.description.errors
                            }"
                            autocomplete="off"
                          ></textarea>
                      
                        <div
                          *ngIf="submitted && f.description.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.description.errors.required">
                            Address is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                        <label for="email" class="control-label col-lg-4"
                          >Short Description
                          <span class="require">*</span>
                        </label>
                        <div class="col-lg-8">
                            <textarea
                              formControlName="shortDescription"
                              maxlength="150"
                              [(ngModel)]="ShortDescription"
                              class="form-control"
                              placeholder="Enter the shortDescription"
                              rows="3"
                              [ngClass]="{
                                'is-invalid': submitted && f.shortDescription.errors
                              }"
                              autocomplete="off"
                            ></textarea>
                        
                          <div
                            *ngIf="submitted && f.shortDescription.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.shortDescription.errors.required">
                              shortDescription is required
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="row">
               
              </div>
              <div class="form-group btnSize">
                <button type="submit" class="btn btn-success b-0 pull-right">
                  Submit
                </button>
                <button
                  class="btn btn-danger pull-right modButAli"
                  (click)="backnavlist()"
                >
                  <i class="fa fa-arrow-left"></i> Cancel
                </button>
              </div>
            </form>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
