$darkblue : #2f4054;
$white : #fff;
$light-blue :#1ec4d6;

.autolist li:hover {
    background: #000;
    color: #fff;
}

.wrapper {
    position: relative;
    width: 250px;
    height: 300px;
    border: 1px dashed #ccc;
    margin: 10px;
}

.line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial,sans-serif;
    background: #fff;
}


/**Border Radius**/
@mixin border-radius($radius){
 	-webkit-border-radius:$radius;
  		-moz-border-radius:$radius;
    		-ms-border-radius:$radius;
      			-o-border-radius:$radius;
         			border-radius:$radius;
}
/**Box Shadow**/
@mixin box-shadow($shadow){
 	-webkit-box-shadow:$shadow;
  		-moz-box-shadow:$shadow;
    		-ms-box-shadow:$shadow;
      			-o-box-shadow:$shadow;
         			box-shadow:$shadow;
}
.opansans { font-family: 'Open Sans', sans-serif; }
.roboto-font { font-family: 'Roboto', sans-serif; }

.credit-page {
    margin-top: 0; min-height:600px; padding-top:80px; 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c4cc+0,016bc0+100 */
background: rgb(0,196,204); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(0,196,204,1) 0%, rgba(1,107,192,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,196,204,1) 0%,rgba(1,107,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,196,204,1) 0%,rgba(1,107,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4cc', endColorstr='#016bc0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.credit-page h3 + p{font-size:16px; font-weight:600; color: #fff; text-align:center;}

/*Pulsing box*/
@mixin centre($axis: "both") {
	position: absolute;
	@if $axis == "y" {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	@if $axis == "x" {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	@if $axis == "both" {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-51%, -50%);
		-moz-transform: translate(-51%, -50%);
		-ms-transform: translate(-51%, -50%);
		-o-transform: translate(-51%, -50%);
		transform: translate(-51%, -50%);
	}
}
@mixin font-size($sizeValue: 1.6, $lineHeight: 2.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: ($lineHeight * 10) + px;
}
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(outerRotate1) {
  0%   {transform:translate(-50%, -50%) rotate(0)}
  100% {transform:translate(-50%, -50%) rotate(360deg)}
}
@include keyframes(outerRotate2) {
  0%   {transform:translate(-50%, -50%) rotate(0)}
  100% {transform:translate(-50%, -50%) rotate(-360deg)}
}

@include keyframes(textColour) {
  0%   {color:#fff;}
  100% {color:#3BB2D0;}
}



.e-loadholder{
	/*@include centre();
	width:240px;
	height:240px;
	border:5px solid #1B5F70;
	border-radius:120px;
	box-sizing:border-box;*/
	
	
	&:after{
		/*@include centre;
		content:" ";
		display:block;
		background:#fff;
		transform-origin:center;
		z-index:0;
		height:242px !important;*/
	}
	
	&:after{
		width:100px;
		height:200%;
		@include animation('outerRotate2 30s infinite linear');
	}

	.m-loader{
		@include centre();
		width:180px;
		height:180px;
		color:#888;
		text-align:center;
		border:5px solid #fd8272;
		border-radius:100px;
		box-sizing:border-box;
		z-index:20;
		background: #fff;
		text-transform:uppercase;

		&:after{
			@include centre;
			content:" ";
			display:block;
			background:#fff;
			transform-origin:center;
			z-index:-1;
		}

		&:after{
			width:40px;
			height:106%;
			background: #fff;
			@include animation('outerRotate1 15s infinite linear');
		}

		.e-text{
			@include font-size(1.4, 13);
			@include centre();
			@include animation('textColour 1s alternate linear infinite');
			display:block;
			width:140px;
			height:140px;
			text-align:center;
			border:5px solid lighten(#1B5F70, 25%);
			border-radius:70px;
			box-sizing:border-box;
			z-index:20;

			&:before, &:after{
				@include centre;
				content:" ";
				display:block;
				background:#fff;
				transform-origin:center;
				z-index:-1;
			}

			&:before{
				width:110%;
				height:40px;
				@include animation('outerRotate2 3.5s infinite linear');
			}
			&:after{
				width:40px;
				height:110%;
				@include animation('outerRotate1 8s infinite linear');
			}
		}
	}
}

#particleCanvas-White{
	@include centre();
	width:100%;
	height:50%;
	opacity:0.1;
}

#particleCanvas-Blue{
	@include centre();
	width:300px;
	height:300px;
}
.m-loader > img {
    width: 70%;
    display: block;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: 0 auto;
}
/*pulsing css ends */


.credit-page h3.title-border{color: #fff;}
.credit-page{position:relative;}
.credit-pulse {
    position: absolute;
    right: 0;
    top: 85px;
}
.steps {
    width: 85%;
    margin: 0 auto;
}
.step-con{list-style:none; display: inline-block;}
.steps ul{padding:0;}
.step-box{width:50px; height:50px; border-radius:40px; /*border:2px solid #ededed;*/ border:2px solid #f1f1f1; color:#e9ebec; position:relative; z-index:9; /*background:#ededed;*/ background:#e6e6e6; display:inline-block;  line-height:40px; text-align:center;}

.step-con.active .step-box{ border:2px solid #FF7766; background:#fff; color:#FF7766;}
.step-con.active .step-box .step1, .step-con.active .step-box .step3{display:none;}
.tick-done{display:none;}
.step-con.active .step-box .tick-done{display:block;}
.step-con.active .step-box + p{color:rgb(3, 78, 121);}
.step-box + p{color:rgb(129, 12, 12); text-align:center; font-size:14px; cursor:pointer;}
.step-con.text-left .step-box + p {
    padding-left: 5px;
    text-align: left;
}

.itdentification-btn {
    margin: 20px 0 20px !important;
}
.step-con.text-right .step-box + p {
    padding-right: 0;
    text-align: right;
}
span.tick-done img, span.tab-icon-box img, span.step1.non-active img {
    width: 20px;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}
.step-con {
    position: relative;
}
span.step1.non-active img{ width: 25px; }
span.step4.tab-icon-box img, span.step4.non-active img {
    width: 35px !important;
}

span.step2.tab-icon-box img, span.step2.non-active img {
    width: 25px !important;
}
.step-con:after {
    background: #ededed none repeat scroll 0 0;
    content: "";
    height: 3px;
    right: 50%;
    position: absolute;
    top: 20px;
    z-index: 1;
	width:100%;
}
.step-con {
    position: relative;
}
span.step3.non-active img{ width: 20px; }
.step-con.first-step:after{display:none;}
.step-con.active:after{background: #FF7766;}

/*flip css*/
.responsive {
  width: 100%;
  height: 100%;
}


.middle-box {
  float: none;
  clear:both;
  overflow:hidden;
  width: 100%;
  height: 100%;    background: #fff;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 30px 30px 10px;
}

.content img {
  width: 100%;
  height: 101%;
}
.content li {
  display: none;
  min-height: 270px;
  position: relative;
  vertical-align: top;

  /* Colors Hover */
}
.content li.active{
  display: inline-block;
}

.content li:after {
    position:static;
    content: "";
    left: 0;
    top: 50px;
    bottom: 50px;
    background: /*rgba(0,0,0,.2)*/none;
    width: 1px;
}
.content li:nth-child(odd):after{display: none;}
.below-text{color:#fff; text-align: left; padding:40px 0;}
.below-text h5{font-size: 16px;}
.below-text p {
    font-size: 14px;
    margin: 0;
}

/*.content li:hover .card-front {
  -moz-transform: rotateX(50deg);
  -ms-transform: rotateX(50deg);
  -webkit-transform: rotateX(50deg);
  transform: rotateX(50deg);
  -moz-transform: perspective(1000) rotateX(0deg);
  -webkit-transform: perspective(1000) rotateX(0deg);
  transform: perspective(1000) rotateX(0deg);
}
.content li:hover .card-back {
  z-index: 950;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transform: perspective(1000) rotateX(0deg);
  -webkit-transform: perspective(1000) rotateX(0deg);
  transform: perspective(1000) rotateX(0deg);
}
.content li:nth-child(1) .card-back, .content li:nth-child(9) .card-back {
  background: #3BB2D0;
}
.content li:nth-child(2) .card-back {
  background: #2A93AE;
}
.content li:nth-child(3) .card-back {
  background: #1B5F70;
}
.content li:nth-child(4) .card-back {
  background: #074352;
}
.content li:nth-child(5) .card-back {
  background: #d0ce06;
}
.content li:nth-child(6) .card-back {
  background: #7381a8;
}
.content li:nth-child(7) .card-back {
  background: #da222b;
}
.content li:nth-child(8) .card-back {
  background: #f07938;
}
.content li.social-img1 {
background:url(/assets/images/img-place-03.jpg) no-repeat; background-size:cover;
}
.content li.social-img2 {
background:url(/assets/images/img-place-07.jpg) no-repeat; background-size:cover;
}
.content li.social-img3 {
background:url(/assets/images/img-place-09.jpg) no-repeat; background-size:cover;
}
.content li.social-img4 {
background:url(/assets/images/img-place-05.jpg) no-repeat; background-size:cover;
}
.content .card-front,
.content .card-back {
  text-align: right;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 400ms;
  -o-transition: -o-transform 400ms;
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.content .card-front {
  -moz-transform: perspective(1000) rotateX(0);
  -webkit-transform: perspective(1000) rotateX(0);
  transform: perspective(1000) rotateX(0);
  z-index: 900;
}
.content .card-back {
  -moz-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  z-index: 800;
}*/
.content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 10px;
}

.content p {
  line-height: 1.3em;
  color: #fff;
  margin-left: 20px;
}
.content h5{margin:10px 0 10px 20px;}
.content h5 span{background:#ff6347; padding:5px 10px; display:inline-block;}


.journey_active li {
  width: 100% !important;
  height: 100% !important;
}

.btn-connect.connect-google::before {
    content: "";

}




.btn-connect.connect-linkedin::before {
    font-family: FontAwesome;
    content: "\f0e1";
    font-size: 22px;
}
.btn-connect {
    background: #3b5998;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    height: 55px;
    position: relative;
    border: 2px solid #3b5998;
    padding-left: 70px;
    padding-right: 15px;
    margin-top: 20px;
    cursor: pointer;
    width: 280px;
}
.btn {
    border-radius: 0;
    outline: none !important;
}

.btn-connect::before {
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 55px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    font-size: 22px;
    line-height: 55px;
    font-family: FontAwesome;
    content: "\f09a";
}
.btn-connect:hover{background: #fff; color: #3b5998;}
.social-btn:hover .btn-connect:before{background:#3b5998; color: #fff; }
.btn-connect.connect-chat::before{content: "";}
.btn-connect.connect-chat{background: #08A6C8; border: 2px solid #08A6C8;} 

.btn-connect.connect-chat:hover{background: #fff; color: #08A6C8;}
.social-btn:hover .btn-connect.connect-chat::before{background:#08A6C8; color: #fff;}


.btn-connect.connect-bank::before{content: "";}
.btn-connect.connect-bank{background: #56A5EC;  border: 2px solid #56A5EC;} 

.btn-connect.connect-bank:hover{background: #fff; color: #56A5EC;}
.social-btn:hover .btn-connect.connect-bank::before{background:#56A5EC; color: #fff; }

.btn-connect.connect-google {
    background: #4285f4;
    border: 2px solid #4285f4;
}
.btn-connect.connect-google:hover{background: #fff; color: #4285f4;}
.social-btn:hover .btn-connect.connect-google::before{background:#4285f4; color:#fff;}
.btn-connect.connect-linkedin {
    background: #007bb6;
    border:2px solid #007bb6;
}
.btn-connect.connect-linkedin:hover{background: #fff; color: #007bb6;}
.social-btn:hover .btn-connect.connect-linkedin::before{background:#007bb6; color: #fff; }


.coral-btn .btn{    background: #FD8272;
    border: 2px solid #FD8272;
    margin-left: 0;
    cursor: pointer;
    color: #fff;
    padding: 7px 15px !important;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 0;
    vertical-align: middle;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;}
.coral-btn .btn:hover{background: #fff; color: #FD8272;}
.creditForm {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
}
.blue-btn .btn{background: #1ec4d6;
    border: 2px solid #1ec4d6;
    margin-left: 0;
    cursor: pointer;
    color: #fff;
    padding: 7px 20px !important;
    border-radius: 5px;
    font-size: 18px;
    padding: 0;
    margin-bottom: 0;
    vertical-align: middle;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;}

.blue-btn .btn:hover{background: #fff; color: #1ec4d6;}
.creditForm label {
    font-size: 14px;
    font-weight: 600;
}
.creditForm .title-class{margin-bottom: 26px;}
.coral-btn {
    text-align: center;
    margin-top: 20px;
}

.sign-up-box ul{list-style:none; padding:0; margin:0; text-align: center;}
.sign-up-box{padding:0; margin-top:55px;}
.card-front {
    position: relative;
}
.box-text{position:relative; z-index:2; text-align: center; padding:25px 0;}
.social-icons{margin:20px; padding:0; list-style:none;}
.s-1{display:inline-block; margin:0 20px 0 0; text-align:center;}
.s-1 a{color:#fff; display:block; margin:0 auto; font-size:18px; width:60px; height:60px; text-align:center; line-height:60px; border-radius:50%; }
.face-icon{background:#3F5596;}
.google-icon{background:#DF5140;}
.linked-icon{background:#0E76B7; margin:0 20px; color:#fff; font-size:18px; display:block; width:60px; height:60px; text-align:center; line-height:60px; border-radius:50%;}
.linked-log{ text-align:left;}
.or-box{text-align:center; position:relative; z-index:9; margin:10px 0;}
.or-box:before{z-index:1; height:1px; position:absolute; top:20px; content:""; left:20px; right:20px; background:#fff;}
.or-box span{background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    color: #000000;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 9}
	.linked-form {
    margin: 0 20px;
}

.linked-form .input-group {margin-bottom:10px; display:block;}
.linked-form .input-group input{ background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    height: 40px;
    padding: 0 10px;
    width: 50%; }
.linked-form .input-group span{ font-size:12px; }
.box-text h2{font-size: 20px; text-transform: capitalize; margin:0;}
.box-text p{color: #333; font-size: 14px; margin:0; padding-bottom: 5px;}
.social-btn{margin-bottom: 10px;}
.box-text h2 span{background: #ffffff none repeat scroll 0 0;
    color: #636363;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 5px 0;
    text-align: center;
    text-transform: capitalize;
    width: 72px;}
/*********************chat with us -******************/
.chat_with_us {
    border: 54px none;
    bottom: 30px;
    position: fixed;
    right: 31px;
    width: 390px;
    z-index: 9988;
}
.chat_btn {
    background: #2ca3dd url("/assets/images/chat_img.png") no-repeat scroll center center;
    border-radius: 50%;
    display: block;
    float: right;
    height: 64px;
    overflow: hidden;
    text-align: left;
    text-indent: -999px;
    width: 64px;
 transition: all 0.3s ease;
 -webkit-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 -o-transition: all 0.3s ease;
 -ms-transition: all 0.3s ease;
   opacity: 0.9;
}
.chat_btn:hover {
    opacity: 1;
}
.chat_btn.open_form {
    background-image: url("/assets/images/close-chat.png");
}
.chat_login, .message_box {
    display: none;
}
.chat_login {
    background: #f7f7f7 url("/assets/images/chat_bg.jpg") repeat scroll center center;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 #a7a7a7;
    float: right;
    height: 372px;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-align: left;
    width: 334px;
}
.chat_blue_bg {
    background: #2ca3dd url("/assets/images/chat-blue.png") repeat scroll center top;
    min-height: 112px;
    padding: 24px 26px 12px; 
 color:#f4f4f4;
}
.chat_blue_bg  h4 {
    font-size: 20px;
    line-height: 32px;
}
.chat_white_bg {
    padding: 24px 25px;
    text-align: center;
}
.form-group {
    margin-bottom: 17px; text-align:left;
}
.chat_white_bg .form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    box-shadow: none;
    color: #999999;
    display: block;
    font-size: 13px;
    height: 41px;
    line-height: 1.42857;
    padding: 5px 18px 7px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	-webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	-moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	-o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	-ms-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	
    width: 100%;
}
.chat_white_bg .btn {
  
    margin-top: 2px;
    min-width: 245px;
    padding: 12px 20px;
}
.user-text {
    background: rgba(226, 225, 224, 0.6) none repeat scroll 0 0;
    border-radius: 4px;
    float: right;
    padding: 6px 16px;
    text-align: left;
    width: 210px;
 position:relative;
}
.user-text > p {
    color: #898989;
    font-size: 12px;
    line-height: 1.54; margin:0;
}
.user-img {
    float: left;
    margin-top: 5px;
    width: 46px;
}
.user1_admin, .user_chat {
    display: inline-block;
    margin: 0 0 25px;
    vertical-align: top;
    width: 100%;
}
.user_chat .user-text {
    float: left;
}
.user_chat .user-img {
    float: right;
}
.chat_white_bg.user-chating {
    padding: 0;
}
.user-chating_wrap {
    float: left;
    height: 216px;
    overflow-y: auto;
    padding: 25px 20px 0 25px;
    width: 100%;
}
.chat_white_bg .send-message .form-control {
    border: medium none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 3px 0 #c2c2c2;
    height: 44px;
 padding-left: 25px;
}

.user-text:before {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-right: 8px solid #eeeeee;
    border-top: 5px solid rgba(0, 0, 0, 0);
    color: #e2e0e1;
    content: "";
    display: block;
    height: 0;
    left: -7px;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    width: 0;
    z-index: 9;
}

.user_chat .user-text:before {
    border-left: 8px solid #eeeeee;
    border-right: medium none;
    left: auto;
    right: -7px;
}
.card-back .coral-btn{background:#ff6347; color:#fff; border:2px solid #ff6347; margin-left:20px;}
.card-back .coral-btn:hover{background:#fff; color:#ff6347 !important;}


.chat_with_us{bottom: -384px;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;}
	
.chatboxclass.chat_with_us{bottom: 0;
    height: 400px;
    opacity: 1;
	transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
}

.congratulation-box{margin-top:20px; margin-bottom:30px; text-align:center;}
.congratulation-box > h4 {
        font-size:19px;
        font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
}
.congratulation-box > h6{font-size: 16px; margin-bottom:20px; margin-top: 15px;}

.congratulation-box > h6.credit-limit-txt{font-size: 16px; font-weight: 600; margin-bottom:20px; margin-top: 15px;}

.congratulation-box h4 span{    
    color: #ff6b57;
    display: block;
    margin: 0 0 10px;
    font-size: 22px;
    font-weight: 700;}

span.we-are-txt {
    display: block;
    margin: 0 0 10px;
    color:#ff6b57;
    font-size: 22px;
}

span.we-are-inner-txt a{ color: #353535; }
span.we-are-inner-txt a:hover{ text-decoration: underline; }

.congratulation-box > p {
    color: #000000;
    font-size: 14px;
}
span.we-are-inner-txt {
    line-height: 25px;
    font-size: 15px;
}
.middle-box .coral-btn.text-right {
    /*margin-right: 108px;*/
    margin-right:0px;
}


.continue-btn {
    margin-right:0px !important;
}

.btn-continue-block {
    margin-right: 30px !important;
}

.credit-heading h2{    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;}
.credit-heading p{font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;}    


/*---------------------*/
/*------journey section start-------*/
.current{
    background: #e8851c;
    color: #fff;
}
/*------journey section end-------*/
/****************************/
@media only screen and (max-width:1600px) {

.credit-heading h2{     font-size:30px;  }
}
@media only screen and (max-width:1350px) {
.steps,.credit-heading{width: 70%; margin:0 auto;}
.e-loadholder .m-loader{
	transform: none;
	-webkit-transform:none; top: -85px;
	right: -15px;
	left: inherit;
}
}
@media only screen and (max-width:1170px) {
.credit-page .container {
    width: 95%;
    padding: 0 0;
}



.e-loadholder .m-loader{
	width: 120px;
	height: 120px;

}
.m-loader img{
	margin-top: 0;
}
.creditForm{width: 90%;}
.middle-box .coral-btn.text-right {
    margin-right:0px;
}
.middle-box{ margin-right: 0 !important; }
.creditForm.identification-block{ width: 96% !important; }
}
@media only screen and (max-width:767px) {


	.credit-page .e-loadholder {
    -webkit-transform: scale(0.4) !important;
    transform: scale(0.4) !important;
    margin-right: -171px;
    position: relative;
    top: -75px;
    }
    .continue-btn{ margin-right: 0 !important; }
.e-loadholder .m-loader {
    width: 150px;
    height: 150px;
    top: -135px;
    right: 35px;
}
.e-loadholder .m-loader:after {
    width: 22px;
    height: 112%;
}
.sign-up-box{margin-top: 20px;}

.col-left-border:after {
    position: absolute;
    top: 0;
    height: 1px;
    content: "";
    background: #ddd;
    width: 95%;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.creditForm.identification-block {
    width: 100% !important;
}

}

@media only screen and (max-width:640px) {



.e-loadholder .m-loader:after {
    width: 22px;
    height: 109%;
}
.steps{width:98%;}

.steps .col-2.text-center {
    display: inline-block;
    margin: 0 auto;
    max-width: 16%;
}
.credit-page h3 + p{font-size:14px;}
.credit-page h3.title-border {
    font-size: 25px;
}
.box-text h2 {
    font-size: 22px;
    margin: 0;                                                         
}

.middle-box{padding: 0 15px; }
.btn-connect {
    font-size: 12px;
    height: 40px;
    position: relative;
    padding-left: 65px;
    margin-top: 10px;
    line-height: 14px; 
}
.btn-connect::before {
    font-size: 18px;
    line-height: 40px;
}
.content li {
min-height: 0;
    float: none;
    width: 100%;
    border: 0;
}
.content li:after{
	top: inherit;
	height: 1px;
	left:0;
	right: 0;
	bottom:0;
	width: 100%;
}
.content li:nth-child(odd):after{display: block;}
.congratulation-box h4 span{font-size: 20px;}
.congratulation-box > h4{font-size: 18px;}
.congratulation-box > p{font-size: 14px;}
.below-text h5 {
    font-size: 16px;
}
.below-text{padding: 20px 0;}
.step-box{font-size: 14px; font-weight: 600; width: 40px; height: 40px; line-height: 30px; margin-top:0px;}
}

@media only screen and (max-width: 639px){

.credit-page .e-loadholder {
    margin-right: -143px;
    position: relative;
    top: -95px;
}
}

@media only screen and (max-width: 500px){

.credit-page .e-loadholder {
    margin-right: -118px;
    position: relative;
    top: -125px;
}
}

@media only screen and (max-width:400px){

.credit-page .e-loadholder {
    margin-right: -91px;
    position: relative;
    top: -151px;
}
}

/* The element to hover over */
.qs {
  
  color: #0182c0;
  cursor: default; 
  display: inline-block;
  font-family: 'Helvetica',sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 100%;

  
  .popover {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    bottom: 68px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: none;
    font-size: 12px;
    font-family: 'Helvetica',sans-serif;
    left: -2px;
    top: -49px;
    padding: 13px 21px 31px 36px;
    position: absolute;
    width: 244px;
    z-index: 4;
    
    &:before {
        border-top: 7px solid rgba(0,0,0,0.85);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        bottom: -7px;
        content: '';
        display: block;
        left: 50%;
        margin-left: -7px;
        position: absolute;
      }
  }
  
  &:hover {
      .popover {
        display: block;
        -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
      }
    }
}

@-webkit-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes move-up {
  from   { bottom: 30px; }
  to { bottom: 42px; }
}
@-moz-keyframes move-up {
  from   { bottom: 30px; }
  to { bottom: 42px; }
}
@-ms-keyframes move-up {
  from   { bottom: 30px; }
  to { bottom: 42px; }
}



.modalOverlay {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display:none;
}

.modalContainer {
    width: 80%;
    width: 550px;
    background-color: #fff;
    min-height: 100px;
    border-radius: 3px;
    margin: 210px auto 0px auto;
    padding: 20px;
    position: relative;
}

.modalContainer:after {
    content: "";
    height: 31px;
    width: 1px;
    border-left: 25px solid #ddd0;
    position: absolute;
    border-top: 20px solid #ffffff;
    border-bottom: 20px solid '#581f1f03';
    border-right: 20px solid '#581f1f03';
    bottom: -60px;
    transform: translate(-50%, -50%);
    left: 50%;
}

a.buttonClose {
    position: absolute;
    right: 10px;
    top: -5px;
    font-size: 20px;
    text-decoration: none!important;
    color: #000;
    cursor: pointer;
}


.modalHeader {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}



.middle-box h3 {
    font-size: 19px !important;
}

.search-label {
    font-size: 12px;
}

.sign-up-box .modal-dialog {
    max-width: 750px;
    margin: 30px auto;
}


.serch-section-popup .modal .modal-header button.close {
    color: #000;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
    z-index: 9;
}

.social-img1 .card-front{position: relative;}
.or{position: absolute;right: -30px;top:75px; z-index: 1; font-size:18px; -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translateY(-50%);}


.social-img3 .card-front{position: relative;}
.and-line{position: absolute;left: -33px;/*top: 53%;*/ top:75px; font-size: 18px; -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translateY(-50%);}
.and-line::after {
    content: '';
    height: 60px;
    width: 1px;
    /*background: #ddd;*/
    position: absolute;
    right: 50%;
    top: -17px;
    z-index: 1;
}
.or-text {
    position: relative;
    z-index: 10;
    background: #fff;
}

.and-text{position: relative;z-index: 10;background: #fff;}
.btn-continue-block{text-align: right;margin: 20px 0 20px; padding-right:0px;}
.btn-continue-block .btn{cursor: pointer;}

.middle-box .heading-step{text-align: center; font-size: 20px !important;margin: 0 0 18px;}
.middle-box .heading-step img{max-width: 20px;width: 20px;margin: 0 4px 0 0; height: auto;}

.heading-stepsub{text-align: center;margin: 0 0 25px;font-size: 14px; font-weight:400;     font-family: Open Sans,sans-serif; }

.question-text{text-align: left;margin: 0 0 15px;font-size: 14px; font-family: Open Sans,sans-serif;}
.progress-count{text-align: right;font-size: 12px;}
.journey3 .creditForm label, .journey3 .box-text p{font-size: 13px;}
.sub-txt, .journey3 .heading-stepsub{ font-size:14px;
    font-weight:400; font-family: Open Sans,sans-serif;  }
.journey3 .heading-stepsub{margin: 0 0 12px;      }
.icon-question{display: inline-block;text-align: right; position: absolute; right:10px;top: -56px;}
.icon-question img{max-width: 15px;}
.col-left-border .coral-btn.btn-continue-block, .journey4 .coral-btn.btn-continue-block{padding: 0;}

.question-popup .modal-dialog{max-width: 950px;}
.serch-section-popup .modal .modal-header button.close {
    top: 27px;
}
.col-left-border{border-left: 1px solid #ddd;}
.icon-identity{max-width: 25px !important;width: 25px !important;margin: 0 4px 0 0; height: auto;}

.congratulation-box{}

.user-info:after {
    position: absolute;
    content: ":";
    right: 10px;
}

.user-info {
    width: 35%;
    float: left;
    display: inline-block;
    position: relative;
}
.user-detail {
    width: 65%;
    float: left;
}
.info-box p:after{ content: ""; display: block; clear: both; }
@media (max-width: 1199px){
  .journey1  .btn-connect{width: 85%;white-space: normal;}
.credit-get { padding-top: 10px; }
.sign-up-box { margin-top: 20px; }
.middle-box .heading-step { font-size: 16px !important; margin: 0 0 10px; }
.btn-connect{ font-size: 14px;   }
.user-detail { width: 60%; }
.user-info { width:40%; }
.btn-continue-block{ margin-right: 20px !important; }
}



@media (max-width: 992px){
  .question-popup .modal-dialog{max-width: 95%;}
  .steps, .credit-heading{ width:90%; }
  .credit-page h3 + p{ font-size:14px;  }
  .box-text p { font-size: 11px; }

.btn-connect{
    font-size: 16px;

    height: 55px;

    padding-left: 45px;
    padding-right: 5px;
 
}

.btn-connect::before {
    width: 45px;
    font-size: 20px; line-height: 50px;
 
}

.or{
   
    right: -24px;
    font-size: 14px;}
.and-line {
    position:absolute;
    left: -27px;
    font-size: 14px;
}
.journey1 .btn-connect { width:95%; }
.btn-connect{ font-size: 13px; }
.info-box {
    margin: 0 !important;
    padding-left: 6px; padding-top: 15px !important;
}
}

@media (max-width: 768px){
/*.or{
    position: static;
    right: 0;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(-50%);
    display: block;
    text-align: center;
    margin: 0 0 -36px;
}*/
/*.and-line{
    position: static;
    left: 0;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block;
    text-align: center;
}*/



.col-left-border {
    border-left: none;
        margin: 15px 0 0;
    position: relative;
    padding-top: 15px;
}
.credit-page .middle-box{
    padding: 15px 15px;
}

.content.journey2, .content.journey3, .content.journey4 {
    margin: 10px 0 0 !important;
}



}
@media (max-width: 767px){
  .social-img2 .btn-connect {
    margin: 0 !important;
}
.box-text {
    padding:0px;
}
.social-img2 .social-btn {
    margin-bottom: 0 !important;
}

.icon-question {

    top: -40px;
}

.Sec-block{ margin: 0 !important; }

.or {
    right: 0;
    font-size: 14px;
    left: 0;
    text-align: center;
    padding:0;
    position: static;
    display: block;
    text-align: center;
    margin:0;
}

.and-line {
    position: static;
    left: 0;
    font-size: 14px;
    right: 0;
    text-align: center;
}

.and-line::after {
    content: '';
    height: 1px;
    width: 100%;
    /*background: #ddd;*/
    position: absolute;
    right: 0;
    top: 12px;
    z-index: 1;
    left: 0;
    margin: 0 auto;
}
.and-text {
    padding: 0 10px;
}

.social-img3 .card-front{ text-align: center; }
.steps, .credit-heading {
    width: 100%;
}
.step-box + p { font-size: 12px; }
.middle-box .heading-step {
    font-size: 14px !important;

}
.journey1 .btn-connect {
    width: 100%;
}
.btn-continue-block {
    text-align:center;
    margin: 20px 0 20px;
    padding-right: 0;
    padding-bottom: 15px;
}
.icon-question img {
    max-width: 18px;
    margin-right: -6px;
}
li.social-img6 .box-text {
    padding: 10px 0 0;
}
.btn-continue-block{ text-align: center; margin: 0; }
.question-block {
    padding: 0 !important;
    margin: 0;
    max-width: 100%;
    flex: inherit;
}
.btn-continue-block{ text-align: right !important;     margin-right:0px !important; }
.credit-heading h2 {
    font-size: 20px;
    margin-bottom: 15px;

}
.creditForm{ width: 100%; }
}

@media (max-width:479px){

  .step-box + p {
    font-size:9px;
}
.btn-connect{ width: 220px; }
}