
<section id="content">
  <div class="page page-forms-common">

<h3>Category Form</h3>
<form [formGroup]="playerForm" (ngSubmit)="saverecord()">
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-body">
                            <div class="form-group">
                                    <label class="col-md-4 control-label" for="usr_name">
                                    Category
                                        <span class="require">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <div class="input-group">

                                            <select required [(ngModel)]="ParentCategory" formControlName="parentCategory" class="form-control paddingSize"
                                                [ngClass]="{ 'is-invalid': submitted && f.parentCategory.errors }" autocomplete="off">
                                                <option value="undefined" disabled selected>Select category</option>
                                                <option *ngFor="let data of category" value={{data.categoryName}}>
                                                    {{data.categoryName}}</option>
                                            </select>
                                        </div>
                                        <div *ngIf="submitted && f.parentCategory.errors" class="invalid-feedback">
                                            <div *ngIf="f.parentCategory.errors.required"> Parent Category  is required</div>
                                        </div>

                                    </div>
                                </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Palyer Name">
                                Category Name
                                <span class="require">*</span>
                            </label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <!-- <span class="input-group-addon">
                                        <i class=" "></i>
                                    </span> -->
                                    <input type="text" class="form-control" [(ngModel)]="CategoryName" name="PlayerName" placeholder="Category Name" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }" formControlName="categoryName">
                                </div>
                                <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
                                    <div *ngIf="f.categoryName.errors.required">CategoryName is Required</div>
                                </div>
                            </div>
                        </div>
                          
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="Palyer Name">
                              Depth
                              <span class="require">*</span>
                          </label>
                          <div class="col-md-8">
                              <div class="input-group">
                                  <!-- <span class="input-group-addon">
                                      <i class=" "></i>
                                  </span> -->
                                  <input type="text" class="form-control" [(ngModel)]="Depth" name="PlayerName" placeholder="Depth" [ngClass]="{ 'is-invalid': submitted && f.depth.errors }" formControlName="depth">
                              </div>
                              <div *ngIf="submitted && f.depth.errors" class="invalid-feedback">
                                  <div *ngIf="f.depth.errors.required">Depth is Required</div>
                              </div>
                          </div>
                      </div>
                      
                   
                          <div class="form-group">
                              <label class="col-md-4 control-label" for="Status">
                                  Status: 
                              </label>
                              <div class="col-md-8">
                                  <div class="input-group">

                                      <mat-checkbox [(ngModel)]="Status" formControlName="status" name="Status"></mat-checkbox>
                                  </div>

                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
                  <button type="button" class="btn btn-danger pull-right modButAli"
                  (click)="backnavlist()">
                  <i class="fa fa-trash"></i> Cancel</button>
              <button type="submit" class="btn btn-success pull-right modButAli ">
                  <i class="fa fa-save backIcon"></i>Save </button>
          </div>
</form>


  </div>
  </section>
