<div id="wrap" class="animsition">

    <section id="header">
        <header class="clearfix">

            <!-- Branding -->
            <div class="branding">
                <a class="brand" href="">
                    <span><strong>Al Hasawi</strong> </span>
                </a>
                <a role="button" tabindex="0" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
            </div>
            <!-- Branding end -->
            <!-- Left-side navigation -->
            <!-- <ul class="nav-left pull-left list-unstyled list-inline">
                <li class="sidebar-collapse divided-right">
                    <a role="button" tabindex="0" class="collapse-sidebar">
                        <i class="fa fa-outdent" style="color:black"></i>

                    </a>
                </li>
                <li class="dropdown divided-right settings">
                    <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog" style="color:black"></i>
                    </a>
                    <ul class="dropdown-menu with-arrow animated littleFadeInUp" role="menu">
                        <li>
                            <ul class="color-schemes list-inline">
                                <li class="title">Header Color:</li>
                                <li><a role="button" tabindex="0" class="scheme-drank header-scheme"
                                        data-scheme="scheme-default"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-black header-scheme"
                                        data-scheme="scheme-black"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-greensea header-scheme"
                                        data-scheme="scheme-greensea"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-cyan header-scheme"
                                        data-scheme="scheme-cyan"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-lightred header-scheme"
                                        data-scheme="scheme-lightred"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-light header-scheme"
                                        data-scheme="scheme-light"></a></li>
                                <li class="title">Branding Color:</li>
                                <li><a role="button" tabindex="0" class="scheme-drank branding-scheme"
                                        data-scheme="scheme-default"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-black branding-scheme"
                                        data-scheme="scheme-black"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-greensea branding-scheme"
                                        data-scheme="scheme-greensea"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-cyan branding-scheme"
                                        data-scheme="scheme-cyan"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-lightred branding-scheme"
                                        data-scheme="scheme-lightred"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-light branding-scheme"
                                        data-scheme="scheme-light"></a></li>
                                <li class="title">Sidebar Color:</li>
                                <li><a role="button" tabindex="0" class="scheme-drank sidebar-scheme"
                                        data-scheme="scheme-default"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-black sidebar-scheme"
                                        data-scheme="scheme-black"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-greensea sidebar-scheme"
                                        data-scheme="scheme-greensea"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-cyan sidebar-scheme"
                                        data-scheme="scheme-cyan"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-lightred sidebar-scheme"
                                        data-scheme="scheme-lightred"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-light sidebar-scheme"
                                        data-scheme="scheme-light"></a></li>
                                <li class="title">Active Color:</li>
                                <li><a role="button" tabindex="0" class="scheme-drank color-scheme"
                                        data-scheme="drank-scheme-color"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-black color-scheme"
                                        data-scheme="black-scheme-color"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-greensea color-scheme"
                                        data-scheme="greensea-scheme-color"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-cyan color-scheme"
                                        data-scheme="cyan-scheme-color"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-lightred color-scheme"
                                        data-scheme="lightred-scheme-color"></a></li>
                                <li><a role="button" tabindex="0" class="scheme-light color-scheme"
                                        data-scheme="light-scheme-color"></a></li>
                            </ul>
                        </li>
                        <li>
                        </li>
                        <li>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-xs-8 control-label">Fixed header</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch lightred small">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                id="fixed-header" checked="">
                                            <label class="onoffswitch-label" for="fixed-header">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-xs-8 control-label">Fixed aside</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch lightred small">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                id="fixed-aside" checked="">
                                            <label class="onoffswitch-label" for="fixed-aside">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul> -->
            <!-- Right-side navigation -->
            <ul class="nav-right pull-right list-inline LogoutIcon">
                <li class="dropdown nav-profile">

                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/profilepicture.png" alt="" class="img-circle size-30x30">
                        <span style="color:#000;">{{Role}}
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </a>


                </li>

            </ul>

            <!-- Right-side navigation end -->
        </header>

    </section>
    <!--/ HEADER Content  -->
    <div id="controls">
        <!-- ================================================
      ================= SIDEBAR Content ===================
      ================================================= -->
        <aside id="sidebar">


            <div id="sidebar-wrap">

                <div class="panel-group slim-scroll" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#sidebarNav">
                                    Navigation <i class="fa fa-angle-up"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <ul id="navigation">
                                    <li>
                                        <a role="button" tabindex="0"><i class="fa fa-table"></i>
                                            <span>Category</span></a>
                                        <ul>
                                            <li [routerLinkActive]="['active']"><a style="text-decoration:none;"
                                                    routerLink="/categorylist"><i class="fa fa-caret-right"></i>
                                                    Category List</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </aside>

    </div>
    <router-outlet (activate)="changeOfRoutes()">
    </router-outlet>
</div>
