<section id="content">
  <div class="page page-forms-common">
    <section class="tile">
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font">
          <i class="fa fa-list editicon"></i>Product<strong> List</strong>
        </h1>
        <a (click)="backnav()">
          <button
            type="button"
            class="btn btn-drank newUserButton  btn-rounded mb-10 pull-right"
          >
            <i class="fa fa-plus Addbutton"></i>Add Product
          </button></a
        >
      </div>
      <br />
      <div class="tile-body p-0">
        <div class="table-responsive">
            <div class="mat-elevation-z8">
                <table class="table table-bordered" mat-table [dataSource]="dataSource" style="width:100%;">
                    <ng-container matColumnDef="productId">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let data"> {{data.productId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef>Product Name </th>
                        <td mat-cell *matCellDef="let data"> {{data.descriptions[0]?.productName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="slug">
                      <th mat-header-cell *matHeaderCellDef>Slug </th>
                      <td mat-cell *matCellDef="let data"> {{data.descriptions[0]?.slug}} </td>
                  </ng-container>
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef>Status </th>
                        <td mat-cell *matCellDef="let data"> {{data.active}} </td>
                    </ng-container>
                    <ng-container matColumnDef="productImages">
                      <th mat-header-cell *matHeaderCellDef>Image </th>
                      <td mat-cell *matCellDef="let data"> {{data.productImages.imageId}} </td>
                  </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let data">
                            <a class="myIcon icon-success icon-ef-3 icon-ef-3b icon-color" data-toggle="modal"
                                data-target="#UpdateModal" (click)="editdata(data)"><i
                                    class="fa fa-edit"></i></a>
                            <a class="myIcon icon-warning icon-ef-4 icon-ef-4a icon-color"
                                (click)="viewdata(data,i)" data-toggle="modal" data-target="#myModalView"><i
                                    class="fa fa-eye"></i></a>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

        <mat-paginator [pageSizeOptions]="[10, 20]"
            showFirstLastButtons></mat-paginator>
      </div>
    </section>
  </div>
</section>
