<section id="content">
    <div class="page page-forms-common">
  
        <section class="tile">
            <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font"><i class="fa fa-list editicon"></i>Product<strong> List</strong></h1>
               <a (click)="backnav()">  <button type="button" class="btn btn-drank newUserButton  btn-rounded mb-10 pull-right">
                    <i class="fa fa-plus Addbutton"
                   ></i>Add Product </button></a>
  
            </div>
            <br>
            <div class="tile-body p-0">
                <div class="table-responsive">
                    <table id="dt-cell-sellection" class="table" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th class="th-sm">ID
                            </th>
                            <th class="th-sm">Name
                            </th>
                            <th class="th-sm">Category
                            </th>
                            <th class="th-sm">Price
                            </th>
                            <th class="th-sm">Created Date
                              </th>
                            <th class="th-sm">Status
                            </th>
                            <th class="th-sm">Images
                              </th>
                            <th class="th-sm">Action
                              </th>
                         
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of ProductListData;let i=index">
                                <td>{{data.ProductID}}</td>
                                <td>{{data.ProductName}}</td>
                                <td *ngFor="let name of data.Category">{{name.CategoryName}}</td>
                                <td>{{data.Price}}</td>
                                <td>{{data.CreatedDate | date:'mediumDate'}}</td>
                                <td>{{data.Status}}</td>
                                <td> 
                                    <img src="{{data.ProductImage}}" alt="" class="thumb-lg rounded-circle">
                                </td>
                                <td>    <a class="myIcon icon-success icon-ef-3 icon-ef-3b icon-color"
                                (click)="editdata(data,i)"><i
                                      class="fa fa-edit"></i></a>
                              <a class="myIcon icon-warning icon-ef-4 icon-ef-4a icon-color"
                                  (click)="Delete(i)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                          </tr>
                       
                        </tbody>
                      
                      </table>
                    
  
                </div>
                <div *ngIf="!ProductListData.length" class="NodataStyle" id="NodataStyle">No Data found</div>
            </div>
        </section>
    </div>
  </section>
  
  
  