<section id="content">
  <div class="page page-forms-common">

      <section class="tile">
          <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font"><i class="fa fa-list editicon"></i>Category<strong> List</strong></h1>
             <a (click)="backnav()">  <button type="button" class="btn btn-drank newUserButton  btn-rounded mb-10 pull-right">
                  <i class="fa fa-plus Addbutton"
                 ></i>Add Category </button></a>

          </div>
          <br>
          <div class="tile-body p-0">
              <div class="table-responsive">

                      <table class="table table-bordered" style="width:100%;">
                        <tr>
                          <!-- <th>Category Code</th> -->
                          <th>Category Name</th>
                          <th>Depth</th>
                          <th>Status</th>
                          <th>Delete</th>
                        </tr>
                        <tr *ngFor="let data of Userdata;let i=index">
                          <!-- <td>{{data.CategoryCode}}</td> -->
                          <td>{{data.CategoryName}}</td>
                          <td>{{data.Depth}}</td>
                          <!-- <td>{{data.Slug}}</td> -->
                          <td>{{data.Status}}</td>
                          <td>    <a class="myIcon icon-success icon-ef-3 icon-ef-3b icon-color"
                          (click)="editdata(data,i)"><i
                                class="fa fa-edit"></i></a>
                        <a class="myIcon icon-warning icon-ef-4 icon-ef-4a icon-color"
                            (click)="Delete(i)"><i
                                class="fa fa-eye"></i></a></td>
                      </table>

              </div>
              <div *ngIf="!Userdata.length" class="NodataStyle" id="NodataStyle">No Data found</div>
          </div>
      </section>
  </div>
</section>


